
html, body {
	width: 100%;
	margin: 0; 
	padding: 0; 
	overflow-x: hidden;/* overflow-y: hidden; */
}
::-webkit-scrollbar {
    display: none;
}

.header {
	min-height: 70vh;
	background-color: #002C4A;
	margin-top: -60px;
	/* width: 100%; */
}

nav {
	height: 80px;
	width: 100%; 
	padding: 2px 2px;
	background-color: #f8f9fa;
	position: sticky;
	z-index: 1;
	margin-top: -10px;
}


.mainav {
	display: flex;
	flex-direction: row; 
	align-items: center;
	padding: 10px 10px;
}


.mainav img {
	height: 50px;
	width: 50px;
	margin-right: 20%;
	margin-left: 50px;
	margin-top: -10px;

}

.nav-menu ul li {
	display: inline-block;
	text-align: center;
	color: #fffcf0;
	font-family: sans-serif;
	position: relative;
	right: 220px;
	margin-top: -10px;
}

.nav-menu ul li:hover {
	color: orangered;
}

.nav-menu ul li a {
	word-spacing: 1px;
}


ul li a {
	display: block;
	padding: 20px 25px;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	margin-left: -10px;

}


ul li a:hover {
	color: orangered;
}


ul li ul.dropdown li {
	display: flex;
	width: 60px;
}


ul li ul.dropdown {
	/* width: 600px; */
	padding: 40px 20px;
	background: transparent;
	position: absolute; 
	z-index: 999;
	display: none;
	margin-top: -41px;
}


ul li a:hover {
	background: none;
}

ul li:hover ul.dropdown {
	display: flex;
}

.drop-items {
	display: inline-flex;
	background-color: white;
	padding: 10px;
	/* width: 800px; */
}

.drop-items li {
	margin-left: 250px !important;
	word-spacing: 15px;
}

.drop-items li img {
	height: 50%;
	width: 50%;
	margin-left: -10px !important;
	margin-top: 20px;
}




.mainav a button {
	background-color: #002745;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	flex-direction: row;
	cursor: pointer;
	padding: 2px 30px 2px 30px;
	margin-left: -80px;
	margin-top: -10px;
	text-decoration: none;

}

.mainav a button:hover {
	color: #002745;
	background-color: white;
	border: 0px solid #002745;
}

.nav-menu {
	float: none;
}

.nav-menu ul li a {

	text-decoration: none;
	color: black;
	font-size: 12px;
	text-transform: none;
	margin-right: 15px;
	font-size: 17px;

}

.nav-menu ul li a:hover {
	color: orangered;
}







ul li ul.dropdown-content li {
	display: flex;
	 width: 60px;
	margin-top: 20px;
}


ul li ul.dropdown-content {
	width: 700px;
	height: 400px;
	padding: 40px 20px;
	background: transparent;
	position: absolute;
	z-index: 999;
	display: none;
	margin-top: -31px;
}


ul li a:hover {
	background: none;
}

ul li:hover ul.dropdown-content {
	display: block;
}

.product-items {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px solid #ddd;
	background-color: white;
}

.product-items li {
	margin-left: 250px !important;
	align-items: center;
}

.product-items li a {
	text-align: left;
}


.product-items li,
small {
	font-size: 12px;
}






.container h1 {
	padding-top: 80px;
	text-align: center;
	color: aqua;
	font-size: 70px;

}

.container p {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color: white;
}



.enterprise {
	display: flex;
	box-sizing: border-box;
	box-shadow: 30px;
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	bottom: 0px;
	left: 10%;
	right: 10%;
	border-radius: 10px;
}


.enterprise container-card {
	position: absolute;
}


.container-card img {
	margin-top: 50px;
	margin-left: 25px;
	align-items: center;
}


.enterprise p {
	text-align: left;
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 35px;
	font-size: 15px;
	margin-left: 30px;
}

.enterprise img {
	width: 200px;
	height: 50px;
}

.Newcard p {
	margin-top: 30px;
	font-size: 20px;
}


.Newcard button {
	margin-left: 30px;
	margin-top: 20px;
	color: white;
	background-color: orangered;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	border-radius: 5px 5px;
	border: 1px solid white;

}


.Newcard button:hover {
	color: orangered;
	background-color: white;
	border-color: orangered;
}

.enterprise-logo img {
	height: 170px;
	width: 300px;
	margin-bottom: -5px;
}

.heading-element {
	position: relative;

}

.eppy h1 {
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	padding-top: 64px;
}

.eppy p {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 80px;
	font-size: 20px;
}



.row {
	display: flex;
	border: 2px solid whitesmoke;
	margin-left: 170px;
	margin-right: 170px;
	width: 80%;
	margin-bottom: 100px;

}

.second-element img {
	width: 50px;
	height: 50px;
}

.third-element p {
	text-align: left;
}

.third-element {
	padding: 10px;
	margin-left: 20px;
	padding: 15px;
}

.featureHeader {
	color: black !important;
	font-size: 25px !important;
}

.featureText {
	color: black !important;
	font-size: 16px !important;
	margin-bottom: 10px;
}


.featureTexte {
	color: orangered !important;
	font-size: 16px !important;
	margin-left: 0px;
	float: 20px;
}



.number {
	margin-left: 70px;
	margin-right: -30px;
	border-left: 2px solid whitesmoke;
	padding: 15px;

}

.number p {
	text-align: left;
}

.robot {
	margin-left: 60px;
	border-left: 2px solid whitesmoke;
	padding: 15px;

}

.robot p {
	text-align: left;
}



.numberone img {
	width: 50px;
	height: 50px;
}

.robot img {
	width: 50px;
	height: 50px;
}


.Automate {
	margin-top: 50px;
	background: linear-gradient(235deg,rgba(211,249,236,.995),#fffcf0);
}

.Automate h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 50px;
}

.Automate p {
	text-align: center;
	font-size: 18px;
	text-align: center;
	font-family: sans-serif;
}

.Automate ul li {
	display: inline-block;
	justify-content: space-evenly !important;
	margin-top: 50px;
	margin-left: 150px;
	padding: 0px;

}

.Automate ul li a {
	text-decoration: none;
	color: darkblue;
	font-size: 18px;
	margin-right: 5px;
}


.aUtomatic {
	background-color: linear-gradient(235deg,rgba(211,249,236,.995),#fffcf0); 
}


.pillbar {
	list-style-type: none;
	overflow: hidden;
	background-color: transparent;
	display: flex;
	margin-right: 40px;
	white-space-collapse: collapse;
	padding-right: 3s0px;

}

.pill {
	flex: 1;
	text-align: center;
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	color: #d3f9ec rgba(211, 249, 236, .995), #fffcf0;
	background-color: none;
	cursor: pointer;
	border-radius: 5px 5px;
}

.pill:hover {
	background-color: rgb(103, 103, 255);
}

#content {
	margin-top: 90px;
	margin-left: 100px;

}

#content img {
	height: 90%;
	width: 45%;
	margin-right: 70px;
	float: right;
	margin-top: -60px;

}

#content h2 {
	font-size: 30px;
	/* margin-left: 80px; */
	margin-top: -50px;
	margin-bottom: 10px;
	text-align: left;

}

#content p {
	font-size: 18px;
	text-align: left;

}

#content ul li {
	display: block;
	font-size: 15px;
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#content a {
	cursor: pointer;
	/* margin-left: 85px; */
	color: blue;
	font-size: 12px;
	/* margin-bottom: 200px; */
	margin-bottom: 10px;
}



.marketing {
	display: flex;
	flex-wrap: wrap;
	background: #ced4da;
}


.marketing img {
	height: 25%;
	width: 25%;
	margin-left: 15%;
	margin-top: 20px;
	margin-bottom: 0px;
}

.Ski {
	display: block;
	margin-left: -70px;
}

.Ski h3 {
	margin-top: 100px;
	margin-left: 190px;
	font-size: 50px;
}

.Ski p {
	/* margin-top: 100px; */
	margin-left: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}


.Ski a {
	margin-top: 10px;
	margin-left: 200px;
	margin-top: 5px;
	font-size: 15px;
	color: black;
}





.container-eco h1 {
	margin-left: 29%;
	margin-top: 50px;
	font-size: 50px;
}

.container-eco p {
	margin-left: 23%;
	margin-top: 10px;
	font-size: 22px;
}

.Frow {
	display: flex;
	flex-direction: row;

}

.Frow img {
	height: 80px;
	width: 80px;
	margin-top: 20px;
	margin-left: 20%;
}

.Pname3 {
	margin-left: 30%;
	margin-top: -70px;
	font-size: 25px;
	margin-bottom: 10px;
}


.Pname4 {
	margin-left: 30%;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 20px;
}

.lrow {
	display: flex;
	flex-direction: row;

}

.lrow img {
	height: 80px;
	width: 80px;
	margin-top: -105px;
	margin-left: 55%;
}

.Pname6 {
	margin-left: 65%;
	margin-top: -100px;
	margin-bottom: 20px;
	font-size: 25px;
}

.Pname7 {
	margin-left: 65%;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: 18px;

}

.second-RoW {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 100px;

}

.CroW {
	margin-left: 0px;
}

.CroW img {
	height: 80px;
	width: 80px;
	margin-left: 340%;
}

.Pname8 {
	font-size: 30px;
	margin-bottom: 10px;
}

.P8P9 {
	margin-left: 330px;

}

.TroW {
	margin-left: 95px;
	margin-top: 5px;
}

.TroW img {
	height: 80px;
	width: 80px;

}

.P10P11 {
	margin-left: 60px;
}

.Pname10 {
	font-size: 30px;
	margin-bottom: 10px;
}

#Bsec button {
	margin-left: 45%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	font-size: 20px;
	cursor: pointer;
	background-color: orangered;
	color: white;
	border: hidden;
	border-radius: 5px 5px;

}

#Bsec button:hover {
	background-color: white;
	color: orangered;
	border: 1px solid orangered;
}

.Automate .pillbar li.active {
	background-color: darkblue;
}

#clientg {
	background-color: #f2f6ff !important;
	background-image: url(https://mpairtech.com/static/media/homeleft.f846955b99ba05e6fbb1.png);
	background-position: bottom;
	background-size: cover;
	margin-bottom: 30px;
	margin: 0;
}


#clientg a {
	text-decoration: none;
	margin-left: 630px;
	color: orangered;
	cursor: pointer;
}

#clientg a:hover {
	color: #343a40;
}



.MhF {
	display: flex;
	flex-direction: row;
	margin-top: 0px;

}

.MhF h1 {
	margin-left: 142px;
	margin-top: 20px;
	color: #002745;
	text-align: left;
	font-size: 60PX;
}

.MhF h1 span {
	color: gainsboro;
}


.new-container-fluid-klh {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-NaT,
.new-MaT,
.new-KLT,
.new-LiT,
.new-FGJ,
.new-DFd {
	display: block;
	justify-content: space-between;
	margin: 0;

}

.new-NaT img,
.new-MaT img,
.new-KLT img,
.new-FGJ img,
.new-LiT img,
.new-DFd img {
	max-width: 100%;
	width: 90px;
	height: 90px;
	height: auto;
	/* display: flex;  */
	margin-top: 100px;
	margin-left: 70px;
	margin-right: 70px;
}





.BloG h1 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 50px;
}


.FreeR img {
	height: 230px;
	width: 404px;
	margin-left: 33%;
}



.GT {
	display: block;
	border: 2px solid #ced4da;
	margin-left: 33%;
	margin-right: 37%;
	margin-top: -5px;
}

.GT:hover {
	background-color: #ced4da;
}

.GT h1,
.GT p {
	text-align: left;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 5px;
}

.GT p {
	font-size: 15px;
}



.GT a {
	margin-left: 20px;
	font-size: 12px;
	color: orangered;
	margin-top: 15px;
	margin-bottom: 20px;
}

.GT a:hover {
	color: gray;
}

.home-blog button {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 45%;
	color: white;
	background-color: orangered;
	padding: 8px 15px 8px 15px;
	cursor: pointer;
	border-color: white;
	border-radius: 5px 5px;

}

.home-blog button:hover {
	background-color: white;
	color: orangered;
	border-color: orangered;
}


.container-ftr {
	background-color: #ddd;
	text-align: center;

}

.PwU {
	font-size: 40px;
}

hr {
	margin-left: 600px;
	margin-right: 600px;
	margin-top: 10px;
	border: 1px solid orangered;
}

.text-t2 {
	color: #343a40;
	margin-top: 20px;
	margin-bottom: 20px;
}



.bmty {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: orangered;
	border: 1px solid orangered;
	border-radius: 5px 5px 5px 5px;
}

.bmty:hover {
	/* color:orangered; */
	background-color: white;
}

.bmty a:hover {
	color: orangered;

}

.bmty a {
	text-decoration: none;
	font-size: 18px;
	color: white;

}


.tnhg {
	/* margin-left: 220px; */
	overflow: hidden;

}



.du1 h6 {
	/* margin-left: -900px; */
	margin-top: 30px;
	font-size: 15px;
}

.du1 ul li {
	list-style: none;
}


.du2 h6 {
	/* margin-top: -217px; */
	font-size: 15px;
	/* margin-left: -450px; */
}

.du3 h6 {
	/* margin-top: -217px; */
	font-size: 15px;
	/* margin-left: -90px; */
}

.du4 h6 {
	/* margin-top: -217px; */
	font-size: 15px;
	margin-left: 300px;
}

.rfm {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.fbr {
	margin-right: 20px;
	margin-left: 50px;
}

.fbr h5 {
	font-size: 18px;
}

.fbr p {
	text-align: left;
	margin-top: 10px;
	font-size: 13px;
}

.fbr a {
	text-decoration: none;
	color: gray;
}

.fbr a:hover {
	color: black;
}

.fbR2 {
	margin-right: 20px;
	margin-left: 50px;
}

.fbR2 h5 {
	font-size: 18px;
}

.fbR2 p {
	text-align: left;
	margin-top: 10px;
	font-size: 13px;
}

.fbR2 a {
	text-decoration: none;
	color: gray;
}

.fbR2 a:hover {
	color: black;
}


.fBr3 {
	margin-right: 20px;
	margin-left: 50px;
}


.fBr3 h5 {
	font-size: 18px;
}

.fBr3 p {
	text-align: left;
	margin-top: 10px;
	font-size: 13px;
}

.fBr3 a {
	text-decoration: none;
	color: gray;
}

.fBr3 a:hover {
	color: black;
}


.cfr {
	margin-left: 150px;
	text-align: left;
}

.cfr h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

.cfr a {
	text-decoration: none;
	color: gray;
	font-size: 13px;
}

.cfr a:hover {
	color: black;
}

.spb2s {
	margin-top: 10px;
}

.cfr p {
	margin-top: 10px;
}